---
import FlechaCorta from "../svg/FlechaCorta.astro";
const { currentLocale } = Astro;

const { data, style } = Astro.props;
---

<nav
  id="nav-links"
  class={` w-full translate-x-200 md:translate-x-0  [@media(max-width:767px)]:fixed top-14 md:top-24 lg:top-0 right-0 justify-center items-center  ${style}  md:flex `}
>
  <ul
    id="menu-principal"
    class="flex flex-col border-b sm:border-b-0 border-gray-300 py-4 md:py-1 md:flex-row px-4 mx-auto bg-white justify-center gap-8 md:gap-2 lg:gap-8 text-sm text-gray-700"
  >
    {
      data.map((item) =>
        item.children ? (
          <li class="group relative ">
            {item.label !== "Tour Destination" ? (
              <div class="escuchar flex">
                <button class="hover:text-blue-600  ">{item.label}</button>
                <button class=" p-1 md:p-0   items-center -rotate-90 hover:text-blue-600 focus focus:rotate-0">
                  <FlechaCorta />
                </button>
              </div>
            ) : (
              <div class="escuchar flex">
                <a
                  class="hover:text-blue-600 "
                  href={`/${currentLocale}${item.href}`}
                >
                  {item.label}
                </a>
                <button class=" p-1 md:p-0 border-0 -rotate-90 hover:text-blue-600 focus focus:rotate-0">
                  <FlechaCorta />
                </button>
              </div>
            )}

            <ul class="md:absolute mt-0.5  duration-300 left-0 md:w-50 hidden group-focus:block group-hover:block  bg-white shadow-lg border rounded  z-10">
              {item.children.map((child) => (
                <li class="">
                  <a
                    href={`/${currentLocale}${child.href}`}
                    class="block  px-4 py-2 hover:bg-gray-100"
                  >
                    {child.label}
                  </a>
                </li>
              ))}
            </ul>
          </li>
        ) : (
          <li>
            <a
              href={`/${currentLocale}${item.href}`}
              class="hover:text-blue-600"
            >
              {item.label}
            </a>
          </li>
        )
      )
    }
  </ul>
</nav>
