---
import Play from "../svg/Play.astro";

const data = {
  cantidadClientes: "5,000+ Clientes en todo el mundo",
  aniosExperiencia: "20 Años de experiencia",
  subtitulo: "Discover Peru without limits",
  titulo: " A Great Adventure Awaits You Travel is a right, not a privilege.",

  items: [
    {
      titulo: "Tailor-Made Accessible Trips",
      texto:
        "We craft personalized itineraries based on your interests, needs, and pace—because true luxury means choosing how to live your adventure.",
    },
    {
      titulo: "Trusted & Caring Guides",
      texto:
        "Travel with professionals who are passionate about inclusion and ready to support you every step of the way.",
    },
  ],
  boton: "LEARN MORE ABOUT US",
  autor: {
    nombre: "Cisco",
    cargo: "CEO & Founder",
    imagen: "/images/gato.jpg",
    mensaje: "Explore beautiful, barrier-free destinations across Peru.",
  },
  imagen1: "/images/gato.jpg",
  imagen2: "/images/gato.jpg",
};
---

<section
  class="py-12 px-4 max-w-5xl mx-auto grid grid-cols-1 md:grid-cols-2 items-center gap-8"
>
  <div
    class="relative w-full items-center justify-center h-[70svh] max-w-4xl max-h-100 flex"
  >
    <img
      src="/images/veinticuatroprincipal.webp"
      alt="Imagen 2"
      class="w-full object-cover max-h-100 h-[50svh] rounded-2xl"
    />
    <button
      id="openModalvideo"
      class="absolute right-0 left-0 active:scale-95 duration-300 hover:scale-105 bg-white/80 mx-auto text-black w-15 h-15 rounded-full animate-pulse">
      <Play style="w-15 h-auto" />
    </button>
  </div>

  <div>
    <p class="text-azul-travel font-semibold text-sm mb-2">{data.subtitulo}</p>
    <h2 class="text-3xl font-extrabold text-gray-900 leading-tight mb-4">
      {data.titulo}
    </h2>

    <div class="grid grid-cols-2 gap-4 mb-4">
      {
        data.items.map((item) => (
          <div class="flex flex-col  items-start gap-3">
            <h4 class="text-base font-semibold text-gray-800">{item.titulo}</h4>
            <p class="text-sm text-gray-600">{item.texto}</p>
          </div>
        ))
      }
    </div>
    <div class="flex justify-between items-center gap-4">
      <a
        href="/aboutUs"
        class="bg-azul-travel text-center text-balance w-50 text-white px-5 py-3 rounded-full font-semibold text-sm shadow hover:bg-azul-travel-hover"
      >
        {data.boton}
      </a>

      <div class="flex items-center gap-4">
        <img
          src={data.autor.imagen}
          alt={data.autor.nombre}
          class="w-10 h-10 rounded-full object-cover"
        />
        <div>
          <p class="font-semibold text-gray-800 text-sm">{data.autor.nombre}</p>
          <p class="text-xs text-azul-travel">{data.autor.cargo}</p>
          <p class="text-xs text-gray-500 italic">{data.autor.mensaje}</p>
        </div>
      </div>
    </div>
  </div>
</section>

