---
import Play from "../svg/Play.astro";
const data = {
autor: "/images/autor.webp",
  imagen1: "/images/gato.jpg",
  imagen2: "/images/gato.jpg",
};
const {lenguaje}=Astro.props
---

<section
  class="py-12 px-4 max-w-5xl mx-auto grid grid-cols-1 md:grid-cols-2 items-center gap-8"
>
  <div
    class="relative w-full items-center justify-center h-[70svh] max-w-4xl max-h-100 flex"
  >
    <img
      src="/images/veinticuatroprincipal.webp"
      alt="Imagen 2"
      class="w-full object-cover max-h-100 h-[50svh] rounded-2xl"
    />
    <button
      id="openModalvideo"
      class="absolute right-0 left-0 active:scale-95 duration-300 hover:scale-105 bg-white/80 mx-auto text-black w-15 h-15 rounded-full animate-pulse"
    >
      <Play style="w-15 h-auto" />
    </button>
  </div>

  <div>
    <p class="text-azul-travel font-semibold text-sm mb-2">{lenguaje.subtituloHeroHome}</p>
    <h2 class="text-3xl font-extrabold text-gray-900 leading-tight mb-4">
      {lenguaje.tituloHeroHome}
    </h2>

    <div class="grid grid-cols-2 gap-4 mb-4">
      {
        lenguaje.itemsHeroHome.map((item) => (
          <div class="flex flex-col  items-start gap-3">
            <h4 class="text-base font-semibold text-gray-800">{item.tituloHeroHome}</h4>
            <p class="text-sm text-gray-600">{item.textoHeroHome}</p>
          </div>
        ))
      }
    </div>
    <div class="flex justify-between items-center gap-4">
      <a
        href="/aboutUs"
        class="bg-azul-travel text-center text-balance w-50 text-white px-5 py-3 rounded-full font-semibold text-sm shadow hover:bg-azul-travel-hover"
      >
        {lenguaje.botonHeroHome}
      </a>

      <div class="flex items-center gap-4">
        <img
          src={data.autor}
          alt={lenguaje.autorHeroHome.nombreHeroHome}
          class="w-10 h-10 rounded-full object-cover"
        />
        <div>
          <p class="font-semibold text-gray-800 text-sm">{lenguaje.autorHeroHome.nombreHeroHome}</p>
          <p class="text-xs text-azul-travel">{lenguaje.autorHeroHome.cargoHeroHome}</p>
          <p class="text-xs text-gray-500 italic">{lenguaje.autorHeroHome.mensajeHeroHome}</p>
        </div>
      </div>
    </div>
  </div>
</section>
