---
import Layout from "../../layouts/Layout.astro";
import PortadaStatic from "../../components/section/PortadaStatic.astro";
import HeroGroup from "../../components/section/HeroGroup.astro";
import MainContent from "../../components/constructor/MainContent.astro";
import {groupTours} from "../../data/groupTours.js";
import CardDestino from "../../components/ui/CardDestino.astro";
import Times from "../../components/constructor/Times.astro";
import Certificaciones from "../../components/section/Certificaciones.astro";
import lenguaje from "../../data/locales/es.json";
import infoEmpresa from "../../data/accessibleTravel.json";
import { headerMenu } from "../../utils/headerSpañol";
---

<Layout title={lenguaje.title} description={lenguaje.description} headerMenu={headerMenu} lenguaje={lenguaje}>
  <PortadaStatic url={infoEmpresa.imagenPortadaGeneral} texto="Group Tours" />
  <MainContent>
    <HeroGroup lenguaje={lenguaje} />
    <section class="flex flex-col px-4 py-8 gap-4 max-w-5xl mx-auto">
      {
        groupTours.map((lugar) => (
          <div class="flex flex-col-reverse justify-between w-full max-w-3xl   mx-auto gap-4">
            <CardDestino lenguaje={lenguaje} data={lugar} botones="justify-between md:flex-col md:justify-around" style="flex flex-col md:flex-row min-w-xs max-w-xs md:max-w-5xl mx-auto" ruta="/group/" />
            <div class="flex flex-col md:flex-row justify-between max-w-xs w-full md:max-w-3xl mx-auto border border-gray-100 shadow px-4 py-2 rounded-xl" >
              
              <Times lenguaje={lenguaje} data={lugar}/>

            </div>
          </div>
        ))
      }
    </section>
    <Certificaciones/>
  </MainContent>
</Layout>
