---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import data from "../data/accessibleTravel.json";
import MensajeApp from "../components/section/MensajeApp.astro";

import Modalcontac from "../components/ui/Modalcontac.astro";

const {
  title = "Accessible Travel Peru",
  description = "Agencia de viajes inclusiva líder en Perú",
  canonical = "https://accessibletravelperu.com/",
  ogImage = "/images/new2principal.webp",
  lenguaje,
  headerMenu,
} = Astro.props;
const slug =
  title && typeof title === "string"
    ? title.toLowerCase().replace(/[^a-z0-9]+/g, "-")
    : "post";

const canonicalUrl = `https://accessibletravelperu.com/blog/${slug}`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content="Accessible Travel Peru" />
    <meta name="robots" content="index, follow" />

    <!-- Canonical dinámico -->
    <link rel="canonical" href={canonicalUrl} />

    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={ogImage} />
    <meta property="og:url" content={canonical} />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={ogImage} />

    <!-- Accesibilidad y SEO -->
    <link rel="icon" href="/images/icon.png" type="image/svg+xml" />
    <meta name="theme-color" content="#ffffff" />
 
  </head>

  <body class="overflow-x-hidden font-poppins bg-white text-slate-800 relative">
    <Header lenguaje={lenguaje} headerMenu={headerMenu} />
    <div class="pt-14 md:pt-22 w-full h-14 md:h-22 bg-white"></div>
    <slot />

    <Footer lenguaje={lenguaje} />
    <Modalcontac lenguaje={lenguaje} />
    <button
      id="btn"
      title="Open contact panel"
      class="fixed bottom-5 right-1 md:right-5 z-50 px-2 py-2 rounded-full bg-amber-400 duration-500 flex items-center justify-center"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="h-10 w-10"
        ><path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z"></path><path d="M8 12h.01"
        ></path><path d="M12 12h.01"></path><path d="M16 12h.01"></path></svg
      >
    </button>
    <MensajeApp data={data} />
  </body>
</html>
