---
import BlogNew from "../section/BlogNew.astro";
import DestinoAside from "../section/DestinoAside.astro";
const {  lenguaje, destinos ,news} = Astro.props;
const { currentLocale } = Astro;
---

<aside
  class="w-full md:max-w-xs my-12 md:w-80 p-4 space-y-2 h-full bg-white border border-gray-200 rounded-lg shadow-sm"
>
  <!-- Perfil -->
      <section class="text-center">
        <img
          src="/images/autor.webp"
          alt={lenguaje.aboutTitle}
          title={`Foto de ${lenguaje.aboutTitle}`}
          class="w-28 h-28 mx-auto rounded-full object-cover border-4 border-gray-200"
        />
        <h2 class="mt-4 text-lg font-bold text-gray-900">
          {lenguaje.aboutTitle }
        </h2>
        <p class="text-sm text-gray-500">{lenguaje.asideBlogSub}</p>
        <p class="mt-3 text-gray-600 text-sm">{lenguaje.asideBlogDescripcion}</p>
        <div class="flex justify-center gap-4 mt-4 text-gray-500">
        </div>
      </section>
  <!-- Noticias recientes -->
  <BlogNew articulo={news} lenguaje={lenguaje} />
  <DestinoAside lenguaje={lenguaje} destinos={destinos}/>
</aside>
