---
const { lenguaje } = Astro.props;
---

<form
  id="contact-form"
  class="bg-white p-4 max-w-sm rounded-xl shadow-md space-y-2"
  novalidate
>
  <h2 class="text-2xl font-semibold text-gray-800">
    {lenguaje.formularioTitulo}
  </h2>
  <p class="text-sm text-gray-500">{lenguaje.formularioDescripcion}</p>

  <div>
    <label for="name" class="block text-sm font-medium text-gray-700"
      >{lenguaje.formularioNombre}</label
    >
    <input
      type="text"
      id="name"
      name="user_name"
      required
      class="mt-1 w-full px-2 py-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
  </div>

  <div>
    <label for="email" class="block text-sm font-medium text-gray-700"
      >{lenguaje.formularioCorreo}</label
    >
    <input
      type="email"
      id="email"
      name="user_email"
      required
      class="mt-1 w-full px-2 py-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
  </div>

  <div>
    <label for="message" class="block text-sm font-medium text-gray-700"
      >{lenguaje.formularioMensaje}</label
    >
    <textarea
      id="message"
      name="message"
      rows="5"
      required
      class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
    ></textarea>
  </div>

  <!-- Botón + reCAPTCHA contenedor -->
  <div class="flex flex-col gap-4">
    <button
      type="submit"
      class="bg-azul-travel active:scale-95 hover:scale-105 text-white px-6 py-2 rounded-full hover:bg-azul-travel-hover transition w-fit"
    >
      {lenguaje.formularioBoton}
    </button>
    <div
      id="recaptcha-container"
      class="g-recaptcha"
      data-sitekey="TU_RECAPTCHA_SITE_KEY"
    >
    </div>
  </div>

  <p id="form-status" class="text-sm text-green-600 hidden">
    Message sent successfully!
  </p>
</form>
