---
const { currentLocale } = Astro;

const { post } = Astro.props;
---

<article
  class="w-auto group duration-300 active:scale-105 rounded-xl border border-gray-200 shadow overflow-hidden"
>
  <a
    href={post.url}
    class="transition flex flex-col lg:flex-row justify-between items-center"
  >
    <img
      src={post.frontmatter.image ?? "/images/gato.jpg"}
      alt={post.frontmatter.title}
      class="w-full md:w-full h-50 duration-300 object-cover group-hover:scale-105"
      loading="lazy"
      decoding="async"
    />
    <div class="text-black p-4 border-black">
      <h2 class="text-lg font-bold mb-2">{post.frontmatter.title}</h2>
      <p class="text-xs mb-2">{post.frontmatter.description}</p>
      <p class="text-xs block text-gray-700">
        {post.frontmatter.date}
      </p>
    </div>
  </a>
</article>
