---
import Certificaciones from "../../../components/section/Certificaciones.astro";
import Layout from "../../../layouts/Layout.astro";
import PortadaStatic from "../../../components/section/PortadaStatic.astro";
import CardDestino from "../../../components/ui/CardDestino.astro";
import {toursDestinos as travels} from "../../../data/toursDestinos.js";
import MainContent from "../../../components/constructor/MainContent.astro";
import lenguaje from "../../../data/locales/es.json";
import { headerMenu } from "../../../utils/headerSpañol";
import infoEmpresa from "../../../data/accessibleTravel.json";

export function getStaticPaths() {
  const paths = travels.map((item) => ({
    params: { titleLink: item.titleLink },
  }));

  return paths;
}

// 🧩 Accede al parámetro y busca el destino en el array
const { titleLink } = Astro.params;
const destino = travels.find((item) => item.titleLink === titleLink);

if (!destino) {
  throw new Error(`Destino no encontrado para el título: ${titleLink}`);
}
---

<Layout headerMenu={headerMenu} lenguaje={lenguaje}>
  <PortadaStatic url={infoEmpresa.imagenPortadaGeneral} texto={destino.title} />
<MainContent>

  <section class="grid grid-cols-1 md:grid-cols-2  lg:grid-cols-3 px-4 py-8 gap-4 place-items-center">
    {destino.destinosES && destino.destinosES.length >= 1?destino.destinosES.map((lugar) => <CardDestino lenguaje={lenguaje} data={lugar} locacion={destino.title} />):"Destino NO definidos"}
  </section>
  <Certificaciones/>
</MainContent>


</Layout>
